// Global colors
$white: #ffffff;
$black: #000000;

$grey-l2: #f2f2f3;
$grey-l1: #e5e6e7;
$grey: #ccced0;
$grey-d1: #80848a;

// Borders
$border-main: 1px solid $grey;

// Fonts
$font-grey: $grey-d1;
